pkgbase = gofumpt
	pkgdesc = A stricter gofmt
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/mvdan/gofumpt
	arch = i686
	arch = x86_64
	license = custom
	makedepends = go
	source = gofumpt-0.8.0.tar.gz::https://github.com/mvdan/gofumpt/archive/v0.8.0.tar.gz
	sha512sums = 339e76f2dbf798c78e8c05c0829a44adeb6fcb3f8da9a3c82820c8771bf10af742e52479443f52d842864c77491079c3a9622ff40fb40425438d39b7ea3180b5

pkgname = gofumpt
